Repository sugarlabs/musicblocks, pull requests merged in 2020-06, with the labels that each got.

#2314 Scale Degree Block
  documentation/nthmodalpitch_block.svg
  documentation/scaledegree2_block.svg
  js/block.js
  js/blocks.js
  js/blocks/PitchBlocks.js
  js/blocks/RhythmBlocks.js
  js/palette.js
  js/utils/musicutils.js
Labels: WF5-Needs review

#2369 Add markup for print block
  js/blocks/ExtrasBlocks.js
  js/blocks/PitchBlocks.js
  js/notation.js
Labels: Component-Lilypond, Issue-Regression, WF5-Needs review

#2365 Temperament enhancements
  js/activity.js
  js/block.js
  js/blocks.js
  js/blocks/PitchBlocks.js
  js/logo.js
  js/note.js
  js/utils/musicutils.js
  js/utils/synthutils.js
  js/widgets/pitchtimematrix.js
  js/widgets/temperament.js
Labels: WF6-Needs testing

#2359 Output Tools
  documentation/outputtools_block.svg
  js/activity.js
  js/block.js
  js/blocks.js
  js/blocks/ExtrasBlocks.js
  js/blocks/PitchBlocks.js
  js/blocks/WidgetBlocks.js
  js/macros.js
  js/palette.js
  js/utils/musicutils.js
  js/widgets/status.js
Labels: WF5-Needs review
