Repository sugarlabs/musicblocks, pull requests merged in 2020-08, with the labels that each got.

#2419 WIP: Key selection menu
  css/activities.css
  index.html
  js/activity.js
  js/block.js
  js/toolbar.js
Labels: WF4-In development

#2429 Y to pitch converter
  js/blocks/PitchBlocks.js
  js/utils/musicutils.js
Labels: WF5-Needs review

#2455 update oscilloscope
  js/blocks/ExtrasBlocks.js
  js/blocks/WidgetBlocks.js
  js/logo.js
  js/widgets/oscilloscope.js
Labels: WF6-Needs testing

#2470 Tonejs v14
  js/logo.js
  js/turtle-singer.js
  js/utils/synthutils.js
  lib/Tone.js
Labels: WF6-Needs testing

#2380 Framework for text based Music Blocks code
  js/activity.js
  js/blocks/GraphicsBlocks.js
  js/blocks/PenBlocks.js
  js/js-export/GraphicsBlocksAPI.js
  js/js-export/PenBlocksAPI.js
  js/js-export/export.js
  js/js-export/sample.js
  js/turtle-painter.js
  js/turtle.js
  js/utils/utils.js
  js/widgets/jseditor.js
Labels: Component-JS Editor, WF5-Needs review

#2490 recorder (save as wav/ogg)
  js/SaveInterface.js
  js/logo.js
  js/toolbar.js
  js/utils/synthutils.js
Labels: WF6-Needs testing

#2515 fix 2495
  js/blocks/WidgetBlocks.js
  js/widgets/pitchtimematrix.js
Labels: WF6-Needs testing

#2519 Octave calc. fix for scale degree
  js/block.js
  js/blocks/PitchBlocks.js
Labels: WF5-Needs review

#2498 Reworked process of accidental selection
  index.html
  js/activity.js
  js/block.js
  js/utils/musicutils.js
Labels: WF5-Needs review

#2507 MusicKeyboard2
  css/activities.css
  js/blocks/MeterBlocks.js
  js/blocks/WidgetBlocks.js
  js/utils/synthutils.js
  js/widgets/musickeyboard.js
Labels: WF6-Needs testing
